* {
  box-sizing: border-box;
  /* margin: 0; */
}
body {
  margin: 0;
}
.header {
  background-color: aqua;
  padding: 20px;
  text-align: center;
}
.topnav {
  background-color: greenyellow;
  padding: 25px;
  text-align: center;
}
.topnav a {
  text-decoration: none;
  color: black;
  padding: 20px;
}
.topnav a:hover {
  color: azure;
  background-color: blueviolet;
  border-radius: 5px;
}

.kolom1 {
  float: left;
  padding: 10px;
}
.kolom1.side {
  width: 25%;
}
.kolom1.middle {
  width: 50%;
  text-align: justify;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  width: 100%;
  background-color: cadetblue;
  padding: 10px;
  text-align: center;
  position: absolute;
  /* bottom: 0; */
}
