* {
  /* background: rgb(34, 193, 195); */
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(240, 45, 253, 1) 100%
  );
}
p {
  color: white;
  text-align: center;
  font-size: large;
  font-family: "Trebuchet MS";
}

marquee {
  color: red;
  padding: 10px;
  text-transform: uppercase;
}

fieldset,
legend {
  border: yellow solid;
  border-radius: 30px;
}

legend {
  padding: 10px;
  font-weight: bold;
  font-size: 14pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

table {
  border: 10px;
  margin: auto;
}
#menu {
  float: left;
  width: 100%;
  /* background-color: blue; */
}
#menu li {
  float: left;
  list-style: none;
}
#menu li a {
  text-decoration: none;
  padding: 50px;
  display: block;
  font-weight: bold;
  color: #fff;
  position: relative;
  bottom: 5px;
}
#menu li a:hover {
  background: #fff;
}
